body{
    background-image: url("https://i.pinimg.com/originals/e4/0d/1e/e40d1e04ba6d9eb40da3087a9cba4732.png"); 
    background-position: top;
    /* background-repeat: no-repeat; */
    background-size: contain;
    background-color: white;
}

.menu-icon{
    width: 60px;
    position: absolute;
    top: 2%;
    right: 1%;
    cursor: pointer;
}
.menu-icon:hover{
    width: 65px;
}
.menu-box{
    width: 20%;
    background:dimgray;
    position: absolute;
    top: 11%;
    right: 5%;
    padding: 50px 100px;
    border-radius: 10px;
    transition: top 0.5s;
}
.right-links{
    position: absolute;
    top: 30px;
    right: 30px;
    display: flex;
    align-items: center;
}
.right-links img{
    width: 50px;
    margin-left: 20px;
    cursor: pointer;
}
.right-links a{
    text-decoration: none;
    color: white;
    background-color: lightcoral;
    padding: 15px 40px;
    border-radius: 30px;
}
.menu-links a{
    text-decoration: none;
    color: white;
    display: block;
    width: fit-content;
    margin: 30px 0;
    font-size: 30px;
    font-family: 'Acme', sans-serif;
}
.menu-links a:hover{
    font-weight: 900;
}

.try{
    font-family: 'Acme', sans-serif;
    font-size:20px ;
}

.div1{
    background-color: white;
    /* background-image: url("https://i.pinimg.com/originals/12/11/15/1211159225bdb6f66b1eb85809240cdb.png");
    background-size: 2500px;
    background-repeat: no-repeat;
    background-position:center; */
    border: 0.5pt gray solid;
    border-radius: 25px;
    margin-top: 16cm;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    height: fit-content;
    text-align: center;
    position: relative;
}

/* a{
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    text-align: center;
    font-size: 20pt;
    font-family:cursive;
}

a:hover{
    text-decoration: underline;
} */

/* .ul1{
    background-image: url("https://i.pinimg.com/originals/2a/ea/3a/2aea3ae0ec196d2a56a8a6a897c7bd23.png");
    background-size: 600px;
    border: 2pt rgb(90, 22, 22) double;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    width:auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.4cm;
    text-align: center;

}

.ul1 li{
    display: inline-block;
    text-align: center;
    padding-left: 110px;
    padding-right: 110px;
    margin-top: 0.5cm;
    margin-bottom: 0.5cm;
} */

.head1{
    text-align: center;
    color: rgb(3, 0, 0);
    font-size: 30pt;
    font-family: 'Acme', sans-serif;
    font-weight: lighter;
    font-style: italic;
}

.div2{
    display: inline-block;
    /* float: left; */
    background-color: lavenderblush;
    margin-top: 2cm;
    margin-left: 2cm;
    margin-right: 1cm;
    margin-bottom: 2cm;
    border: 2pt gray solid;
    width: 12cm;
    height: fit-content;
    text-align: center;
    padding-left: 0.5cm;
    padding-right: 0.5cm;
    padding-bottom: 0.5cm;
    padding-top: 0.5cm;
    border-radius: 15px;
}

.div3{
    display: inline-block;
    /* float: right; */
    background-color: lightcyan;
    margin-top: 2cm;
    margin-left: 1cm;
    margin-right: 2cm;
    margin-bottom: 2cm;
    border: 2pt gray solid;
    width: 12cm;
    height: fit-content;
    text-align: center;
    padding-left: 0.5cm;
    padding-right: 0.5cm;
    padding-bottom: 0.5cm;
    padding-top: 0.5cm;
    border-radius: 15px;
}

.head3{
    text-align: center;
    font-size: 22pt;
    /* font-weight: bold; */
    color: gray;
    font-family: monospace;
}

.img1{
    width: 10cm;
    text-align: center;
    padding-top: 0;
    padding-bottom: 0;
}

.img2{
    width: 6cm;
    border-radius: 15px;
}

.p1{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* padding-left: 1.2cm; */
    font-size: 16pt;
}

.p2{
    text-align: center;
    font-family: monospace;
    color: darkred;
    /* padding-left: 1.2cm; */
    font-size: 16pt;
    font-weight: bold;
}